/** 定义变量 */
$basefontsize: 20;
$grey: rgb(155, 155, 155);
$bannerg: rgb(48, 54, 67) ;
// $border:rgb(199, 199, 204);
$border:rgb(227, 233, 237);
$btnbg:#F8F8F8;
$noacitveclolr:#8C92A4;
$activecolor:#40485B;
$red:rgb(217, 92, 92);
$orange:rgb(254, 115, 0);
$bannercolor:rgba(255,255,255,0.8);

$bradius:0.2rem;
$newborder:#e3e9ed;
/** 定义宏 */
@mixin MS {
  @media (max-width:38.4rem) {
    @content;
  }
}
@mixin MN {
  @media (min-width:38.4rem) {
    @content;
  }
}
@mixin border_ {
  border: solid 1px $border;
}
