/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "./const";
@import "./fn";
@import "./print.scss";

* {
  transition-duration: .3s;
  transition-delay: 100;
}

@include MN {
  header {
    display: flex;
    justify-content: center;
    background: $bannerg;
    height: 2.3rem;
    position: fixed;
    width: 100%;
  }
}

.banner {
  background: $bannerg;
  height: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;

  @include MN {
    width: 50rem;
    height: inherit;
    background: none;
  }

  .logoimg {
    margin-right: auto;
    margin-left: -1rem;

    @include MN {
      margin-left: 0;
      margin-right: 0;
    }

    .banner_logo {
      width: 3.29rem;
      height: 1rem;

      @include MN {
        width: 4.25rem;
        height: 1.2rem;
      }
    }
  }

  >.iconfont {
    color: white;
    margin-right: auto;
    margin-left: 0.5rem;

    @include MN {
      display: none;
    }
  }

  .pc_btn_group {
    color: $bannercolor;
    display: flex;
    font-size: 0.8rem;
    align-items: center;

    @include MS {
      display: none;
    }

    &.speedbtn {
      margin-right: auto;
      padding: 0 0.75rem;

      .item {
        padding: 0 0.65rem;

        &.company {
          position: relative;

          &::before {
            position: absolute;
            content: '特惠';
            top: -0.5rem;
            right: -0.5rem;
            font-size: 0.65rem;
            width: 1.6rem;
            height: 0.75rem;
            background: #C71D24;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    &.login {
      .search {
        font-size: 0.7rem;
        border-radius: 0.15rem;
        border: solid 0.05rem $noacitveclolr;
        width: 8.75rem;
        height: 1.3rem;
        background: transparent;
        color: white;
        text-indent: 0.5rem;
      }

      .item {
        padding: 0 0.4rem;
        font-size: 0.7rem;
      }
    }
  }
}

.container {
  padding-top: 2.1rem;

  @include MN {
    padding-top: 2.3rem;
  }

  >.news {
    @include MS {
      display: none;
    }

    background-color: #F8FFFF;
    color: #276F86;
    text-align: center;
    height: 2.45rem;
    line-height: 2.45rem;
    border-bottom: solid 0.05rem $newborder;
    font-size: 0.7rem;

    >.iconfont {
      float: right;
      font-size: 0.6rem;
      font-weight: bold;
      margin-right: 2rem;
    }
  }
}

.btngroup {

  // padding-top: 2.2rem;
  @include MN {
    display: none;
  }

  height: 2rem;
  display: flex;
  margin-bottom: 0.95rem;

  >button.btn.item {
    border: solid 0.05rem $border;
    background: $btnbg;
    flex-grow: 1;
    color: $noacitveclolr;

    &.active {
      border: none;
      color: $activecolor;
      background: white;
      box-shadow: none;
    }
  }
}

artical.form {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.75rem;

  @include MN {
    width: 45rem;
    padding: 1.5rem 0;
    // border: solid 0.05rem $border;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;

  }

  ul.list {
    @include MN {
      flex-grow: 1;
      width: 29.15rem;
      border: solid 0.05rem $border;
      padding: 1.5rem;
    }

    >div.title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      @include MS{
        display: none;
      }
      .register {
        font-size: 0.9rem;
        color: #40485b;
        display: flex;
        align-items: center;

        .iconfont {
          margin-right: 0.5rem;
          font-weight: bold;
        }
      }

      .login {
        font-size: 0.7rem;

        >a {
          color: $orange;
        }
      }
    }

    >li {
      padding: 0.375rem 0;

      @include MN {
        display: flex;
        align-items: center;
      }

      &.liparent {
        justify-content: center;
        flex-flow: row wrap;

        >.title {
          @include MS {
            display: none;
          }

          width: 4.75rem;
          font-size: 0.7rem;
          color: #666666;
          text-align: right;
          margin-right: 1rem;
          font-weight: bold;
        }

      }

      &.login_other {
        @include MS {
          display: none;
        }

        justify-content: center;
        font-size: 0.8rem;
        align-items: center;

        >.iconfont {
          font-size: 1.75rem;
          color: #45b128;
          margin-right: .5rem
        }
      }

      &.login_theother {
        @include MS {
          display: none;
        }
        @include MN {
          display: flex;
        }
        flex-flow: column;

        .title {
          width: 100%;
          padding: 0 1rem;
        }

        .icongroup {
          width: 100%;
          padding: 0 0.5rem;
          justify-content: space-between;
        }
      }

      .minput {
        height: 1.9rem;
        border: solid 0.05rem $border;
        display: flex;
        align-items: center;
        color: $grey;
        font-size: 0.95rem;
        @include border-radius($bradius);
        @include border_;

        @include MN {
          width: 15rem;
          height: 2rem;

        }

        >i.iconfont {
          width: 2.3rem;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include MN {
            display: none;
          }

          &.icon-yanjing {
            @include MN {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1rem;
              font-weight: bold;
              cursor: pointer;
              background: #f3f6f8;
            }
          }
        }

        .inner_input {
          border: none;
          font-size: 0.7rem;
          flex-grow: 1;
          height: 100%;

          @include MN {
            text-indent: 0.6rem;
            background: rgb(243, 246, 248);
          }
        }

        .inner_input_readonly {
          @extend .inner_input;
          flex-grow: 0;
          width: 6.5rem;
          border-right: solid 0.05rem $border;
          margin-right: 0.5rem;
          padding-right: 0.5rem;

          @include MN {
            margin-right: 0;
            padding-right: 0;
            flex-grow: 1;
          }
        }

        &.mbtn_verification {
          width: 100%;
          border: solid 0.05rem $orange;
          color: $orange;
          background: white;
          font-size: 0.9rem;
          justify-content: center;

          @include MN {
            width: 15rem;
            height: 2rem;
          }
        }

        &.mbtn_regist {
          width: 100%;
          background: $orange;
          color: white;
          font-size: 0.9rem;
          justify-content: center;
          border: none;

          @include MN {
            width: 15rem;
            height: 2rem;
          }
        }

      }

      .error {
        color: $red;
        font-size: 0.6rem;
        line-height: 200%;

        @include MN {
          width: 100%;
          font-size: 0.7rem;
          border: none !important;
          line-height: 2rem;
          margin-bottom: -0.5rem;
          padding-left: 9.4rem;
      
        }
      }

      .attion_items {
        font-size: 0.65rem;
        text-align: center;
        margin-top: 0.5rem;

        @include MN {
          display: none;
        }
      }
    }
  }

  ul.aside {
    font-size: 0.7rem;
    width: 13.75rem;
    padding: 1.5rem 2rem;
    border: solid 0.05rem $border;
    margin-left: -0.05rem;

    @include MS {
      display: none;
    }

    >li {
      margin-bottom: 0.7rem;
      line-height: 0.9rem;
      color: #40485b;

      i.icon-dui {
        color: #fe7300;
        font-size: 0.7rem;
      }
    }

    >li.imggroup {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      >img {
        width: 4.4rem;
        height: 1.65rem;
        border: solid 0.05rem $border;
        margin: 0.25rem 0;
      }
    }

    >li.title {
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}

footer {
  // border: solid 0.05rem red;
  @include MN{
    background: rgb(251, 251, 251);
    border-top: solid 0.05rem $border;
  }
  .mfooter {
    display: flex;
    flex-flow: column nowrap;
    @include MN{
      display: none;
    }
    .login_other {
      margin: 0.95rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      @include MN{
        display: none;
      }
      >.iconfont {
        font-size: 1.75rem;
        color: #45b128;
        margin-right: 0.5rem;
      }
    }


  }
  .pfooter{
    // border: solid 0.05rem red;
    @include MS{
      display: none;
    }
    width: 52rem;
    margin: 0 auto;
    font-size: 0.7rem;
    color: rgb(157, 157, 157);
    a{
      color: rgb(157, 157, 157);
    }
    .title{
      line-height: 2.5rem;
      
    }
    .container_footer{
      display: flex;
      justify-content: space-between;
      li{
        // border: solid 0.05rem red;
        display: flex;
        align-items: center;
      }
      >.column{
        display: flex;
        flex-flow: column;
        li{
          height: 1.4rem;
        }
      }
      >.qr{
        .qrcode{
          width: 4rem;
          height: 4rem;
          margin-bottom: 0.5rem;
        }
      }
      
    }
  }
}

.login_theother {
  @include MN{
    display: none;
  }
  padding: 1rem;

  >.title {
    font-size: 0.7rem;
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftline {
      width: 40%;
      display: block;
      border-bottom: solid 0.05rem $border;
    }

    .rightline {
      width: 40%;
      display: block;
      border-bottom: solid 0.05rem $border;
    }

    .text {
      white-space: nowrap;
      margin: 0 1rem;
    }
  }

  >.icongroup {
    display: flex;
    flex-flow: row wrap;

    .iconfont {
      font-size: 1.6rem;
      margin: 0.7681rem 0.5rem .5rem 0.864rem;
      /**
      * @description 遍历数组
      */
      $colorgarry: #373d41 #0a0203 #e32932 #00b0fb #3a94d5 #ca0c16 #3795f9;

      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          color: #{nth($colorgarry, $i)}
        }
      }
    }

  }
}