@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/** 定义变量 */
/** 定义宏 */
/** 定义函数*/
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
html {
  font-size: 20px; }

* {
  transition-duration: .3s;
  transition-delay: 100; }

@media (min-width: 38.4rem) {
  header {
    display: flex;
    justify-content: center;
    background: #303643;
    height: 2.3rem;
    position: fixed;
    width: 100%; } }
.banner {
  background: #303643;
  height: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%; }
  @media (min-width: 38.4rem) {
    .banner {
      width: 50rem;
      height: inherit;
      background: none; } }
  .banner .logoimg {
    margin-right: auto;
    margin-left: -1rem; }
    @media (min-width: 38.4rem) {
      .banner .logoimg {
        margin-left: 0;
        margin-right: 0; } }
    .banner .logoimg .banner_logo {
      width: 3.29rem;
      height: 1rem; }
      @media (min-width: 38.4rem) {
        .banner .logoimg .banner_logo {
          width: 4.25rem;
          height: 1.2rem; } }
  .banner > .iconfont {
    color: white;
    margin-right: auto;
    margin-left: 0.5rem; }
    @media (min-width: 38.4rem) {
      .banner > .iconfont {
        display: none; } }
  .banner .pc_btn_group {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    font-size: 0.8rem;
    align-items: center; }
    @media (max-width: 38.4rem) {
      .banner .pc_btn_group {
        display: none; } }
    .banner .pc_btn_group.speedbtn {
      margin-right: auto;
      padding: 0 0.75rem; }
      .banner .pc_btn_group.speedbtn .item {
        padding: 0 0.65rem; }
        .banner .pc_btn_group.speedbtn .item.company {
          position: relative; }
          .banner .pc_btn_group.speedbtn .item.company::before {
            position: absolute;
            content: '特惠';
            top: -0.5rem;
            right: -0.5rem;
            font-size: 0.65rem;
            width: 1.6rem;
            height: 0.75rem;
            background: #C71D24;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center; }
    .banner .pc_btn_group.login .search {
      font-size: 0.7rem;
      border-radius: 0.15rem;
      border: solid 0.05rem #8C92A4;
      width: 8.75rem;
      height: 1.3rem;
      background: transparent;
      color: white;
      text-indent: 0.5rem; }
    .banner .pc_btn_group.login .item {
      padding: 0 0.4rem;
      font-size: 0.7rem; }

.container {
  padding-top: 2.1rem; }
  @media (min-width: 38.4rem) {
    .container {
      padding-top: 2.3rem; } }
  .container > .news {
    background-color: #F8FFFF;
    color: #276F86;
    text-align: center;
    height: 2.45rem;
    line-height: 2.45rem;
    border-bottom: solid 0.05rem #e3e9ed;
    font-size: 0.7rem; }
    @media (max-width: 38.4rem) {
      .container > .news {
        display: none; } }
    .container > .news > .iconfont {
      float: right;
      font-size: 0.6rem;
      font-weight: bold;
      margin-right: 2rem; }

.btngroup {
  height: 2rem;
  display: flex;
  margin-bottom: 0.95rem; }
  @media (min-width: 38.4rem) {
    .btngroup {
      display: none; } }
  .btngroup > button.btn.item {
    border: solid 0.05rem #e3e9ed;
    background: #F8F8F8;
    flex-grow: 1;
    color: #8C92A4; }
    .btngroup > button.btn.item.active {
      border: none;
      color: #40485B;
      background: white;
      box-shadow: none; }

artical.form {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.75rem; }
  @media (min-width: 38.4rem) {
    artical.form {
      width: 45rem;
      padding: 1.5rem 0;
      margin: 0 auto;
      display: flex;
      flex-flow: row nowrap; } }
  @media (min-width: 38.4rem) {
    artical.form ul.list {
      flex-grow: 1;
      width: 29.15rem;
      border: solid 0.05rem #e3e9ed;
      padding: 1.5rem; } }
  artical.form ul.list > div.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; }
    @media (max-width: 38.4rem) {
      artical.form ul.list > div.title {
        display: none; } }
    artical.form ul.list > div.title .register {
      font-size: 0.9rem;
      color: #40485b;
      display: flex;
      align-items: center; }
      artical.form ul.list > div.title .register .iconfont {
        margin-right: 0.5rem;
        font-weight: bold; }
    artical.form ul.list > div.title .login {
      font-size: 0.7rem; }
      artical.form ul.list > div.title .login > a {
        color: #fe7300; }
  artical.form ul.list > li {
    padding: 0.375rem 0; }
    @media (min-width: 38.4rem) {
      artical.form ul.list > li {
        display: flex;
        align-items: center; } }
    artical.form ul.list > li.liparent {
      justify-content: center;
      flex-flow: row wrap; }
      artical.form ul.list > li.liparent > .title {
        width: 4.75rem;
        font-size: 0.7rem;
        color: #666666;
        text-align: right;
        margin-right: 1rem;
        font-weight: bold; }
        @media (max-width: 38.4rem) {
          artical.form ul.list > li.liparent > .title {
            display: none; } }
    artical.form ul.list > li.login_other {
      justify-content: center;
      font-size: 0.8rem;
      align-items: center; }
      @media (max-width: 38.4rem) {
        artical.form ul.list > li.login_other {
          display: none; } }
      artical.form ul.list > li.login_other > .iconfont {
        font-size: 1.75rem;
        color: #45b128;
        margin-right: 0.5rem; }
    artical.form ul.list > li.login_theother {
      flex-flow: column; }
      @media (max-width: 38.4rem) {
        artical.form ul.list > li.login_theother {
          display: none; } }
      @media (min-width: 38.4rem) {
        artical.form ul.list > li.login_theother {
          display: flex; } }
      artical.form ul.list > li.login_theother .title {
        width: 100%;
        padding: 0 1rem; }
      artical.form ul.list > li.login_theother .icongroup {
        width: 100%;
        padding: 0 0.5rem;
        justify-content: space-between; }
    artical.form ul.list > li .minput {
      height: 1.9rem;
      border: solid 0.05rem #e3e9ed;
      display: flex;
      align-items: center;
      color: #9b9b9b;
      font-size: 0.95rem;
      -moz-border-radius: 0.2rem;
      -webkit-border-radius: 0.2rem;
      border-radius: 0.2rem;
      border: solid 1px #e3e9ed; }
      @media (min-width: 38.4rem) {
        artical.form ul.list > li .minput {
          width: 15rem;
          height: 2rem; } }
      artical.form ul.list > li .minput > i.iconfont {
        width: 2.3rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (min-width: 38.4rem) {
          artical.form ul.list > li .minput > i.iconfont {
            display: none; } }
        @media (min-width: 38.4rem) {
          artical.form ul.list > li .minput > i.iconfont.icon-yanjing {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            background: #f3f6f8; } }
      artical.form ul.list > li .minput .inner_input, artical.form ul.list > li .minput .inner_input_readonly {
        border: none;
        font-size: 0.7rem;
        flex-grow: 1;
        height: 100%; }
        @media (min-width: 38.4rem) {
          artical.form ul.list > li .minput .inner_input, artical.form ul.list > li .minput .inner_input_readonly {
            text-indent: 0.6rem;
            background: #f3f6f8; } }
      artical.form ul.list > li .minput .inner_input_readonly {
        flex-grow: 0;
        width: 6.5rem;
        border-right: solid 0.05rem #e3e9ed;
        margin-right: 0.5rem;
        padding-right: 0.5rem; }
        @media (min-width: 38.4rem) {
          artical.form ul.list > li .minput .inner_input_readonly {
            margin-right: 0;
            padding-right: 0;
            flex-grow: 1; } }
      artical.form ul.list > li .minput.mbtn_verification {
        width: 100%;
        border: solid 0.05rem #fe7300;
        color: #fe7300;
        background: white;
        font-size: 0.9rem;
        justify-content: center; }
        @media (min-width: 38.4rem) {
          artical.form ul.list > li .minput.mbtn_verification {
            width: 15rem;
            height: 2rem; } }
      artical.form ul.list > li .minput.mbtn_regist {
        width: 100%;
        background: #fe7300;
        color: white;
        font-size: 0.9rem;
        justify-content: center;
        border: none; }
        @media (min-width: 38.4rem) {
          artical.form ul.list > li .minput.mbtn_regist {
            width: 15rem;
            height: 2rem; } }
    artical.form ul.list > li .error {
      color: #d95c5c;
      font-size: 0.6rem;
      line-height: 200%; }
      @media (min-width: 38.4rem) {
        artical.form ul.list > li .error {
          width: 100%;
          font-size: 0.7rem;
          border: none !important;
          line-height: 2rem;
          margin-bottom: -0.5rem;
          padding-left: 9.4rem; } }
    artical.form ul.list > li .attion_items {
      font-size: 0.65rem;
      text-align: center;
      margin-top: 0.5rem; }
      @media (min-width: 38.4rem) {
        artical.form ul.list > li .attion_items {
          display: none; } }
  artical.form ul.aside {
    font-size: 0.7rem;
    width: 13.75rem;
    padding: 1.5rem 2rem;
    border: solid 0.05rem #e3e9ed;
    margin-left: -0.05rem; }
    @media (max-width: 38.4rem) {
      artical.form ul.aside {
        display: none; } }
    artical.form ul.aside > li {
      margin-bottom: 0.7rem;
      line-height: 0.9rem;
      color: #40485b; }
      artical.form ul.aside > li i.icon-dui {
        color: #fe7300;
        font-size: 0.7rem; }
    artical.form ul.aside > li.imggroup {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
      artical.form ul.aside > li.imggroup > img {
        width: 4.4rem;
        height: 1.65rem;
        border: solid 0.05rem #e3e9ed;
        margin: 0.25rem 0; }
    artical.form ul.aside > li.title {
      font-size: 0.8rem;
      font-weight: bold; }

@media (min-width: 38.4rem) {
  footer {
    background: #fbfbfb;
    border-top: solid 0.05rem #e3e9ed; } }
footer .mfooter {
  display: flex;
  flex-flow: column nowrap; }
  @media (min-width: 38.4rem) {
    footer .mfooter {
      display: none; } }
  footer .mfooter .login_other {
    margin: 0.95rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem; }
    @media (min-width: 38.4rem) {
      footer .mfooter .login_other {
        display: none; } }
    footer .mfooter .login_other > .iconfont {
      font-size: 1.75rem;
      color: #45b128;
      margin-right: 0.5rem; }
footer .pfooter {
  width: 52rem;
  margin: 0 auto;
  font-size: 0.7rem;
  color: #9d9d9d; }
  @media (max-width: 38.4rem) {
    footer .pfooter {
      display: none; } }
  footer .pfooter a {
    color: #9d9d9d; }
  footer .pfooter .title {
    line-height: 2.5rem; }
  footer .pfooter .container_footer {
    display: flex;
    justify-content: space-between; }
    footer .pfooter .container_footer li {
      display: flex;
      align-items: center; }
    footer .pfooter .container_footer > .column {
      display: flex;
      flex-flow: column; }
      footer .pfooter .container_footer > .column li {
        height: 1.4rem; }
    footer .pfooter .container_footer > .qr .qrcode {
      width: 4rem;
      height: 4rem;
      margin-bottom: 0.5rem; }

.login_theother {
  padding: 1rem; }
  @media (min-width: 38.4rem) {
    .login_theother {
      display: none; } }
  .login_theother > .title {
    font-size: 0.7rem;
    color: #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .login_theother > .title .leftline {
      width: 40%;
      display: block;
      border-bottom: solid 0.05rem #e3e9ed; }
    .login_theother > .title .rightline {
      width: 40%;
      display: block;
      border-bottom: solid 0.05rem #e3e9ed; }
    .login_theother > .title .text {
      white-space: nowrap;
      margin: 0 1rem; }
  .login_theother > .icongroup {
    display: flex;
    flex-flow: row wrap; }
    .login_theother > .icongroup .iconfont {
      font-size: 1.6rem;
      margin: 0.7681rem 0.5rem .5rem 0.864rem;
      /**
      * @description 遍历数组
      */ }
      .login_theother > .icongroup .iconfont:nth-child(1) {
        color: #373d41; }
      .login_theother > .icongroup .iconfont:nth-child(2) {
        color: #0a0203; }
      .login_theother > .icongroup .iconfont:nth-child(3) {
        color: #e32932; }
      .login_theother > .icongroup .iconfont:nth-child(4) {
        color: #00b0fb; }
      .login_theother > .icongroup .iconfont:nth-child(5) {
        color: #3a94d5; }
      .login_theother > .icongroup .iconfont:nth-child(6) {
        color: #ca0c16; }
      .login_theother > .icongroup .iconfont:nth-child(7) {
        color: #3795f9; }
